body {
    font-family: Arial;
}

.header {
    background-color: darkcyan;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header h1 {
    margin-left: 10px;
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}